.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* nav bar design start here */
.logo{
    text-align: left;
}
.menu{
    flex-direction: row;
}
.head h2{
    text-align: right;
}
.menu{
    justify-content: flex-end;
}
.menu a{
    background-color: transparent;
}
/* nav bar design end here */

/* about me design start here */
.about-me-image img{
    height: 300px;
}
/* about me design end here */

/* professional experience start here */

/* professional experience end here */

/* contect me design start */
.contact-me-container > hr{
    display: none;
}
.archivement{
    padding-right: 50px;
}
button{
    width: 100px;
    margin: 20px;
}
/* contect me design end */
/* footer design start here */
.footer-menu a{
    display: inline;
}
/* footer design end here */